Prueba realizada por Alejandro Chau y Cristóbal Novoa

Parte 1: Registro de los archivos en la base de datos. (3 Puntos)
● Generar una nueva base de datos con la siguiente nomenclatura: apellido_nombre.
● Importar en tablas los archivos train_cupid.csv y test_cupid.csv a un motor
Postgres, implementando sólo la librería psycopg2. Las tablas deben contener los
nombres de las columnas y el total de los registros presente en cada archivo.

In [1]:
#Se importan librerías
import psycopg2
import csv
import pandas as pd
import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning)
from sqlalchemy import create_engine

Se genera base de datos cristobal_novoa en pgadmin con: 
CREATE DATABASE cristobal_novoa_alejandro_chau;

In [2]:
#Se genera la coneccion
conn = psycopg2.connect("dbname=cristobal_novoa_alejandro_chau user=postgres password=ladcobra")

In [3]:
#Se genera cursor, para recorrer los registros de una consulta a una base de datos.
cur = conn.cursor()

In [4]:
#Se genera tabla de entrenamiento 
cur.execute("""
CREATE TABLE train_cupid(
age integer,
height float,
virgo integer,
taurus integer,
scorpio integer,
pisces integer,
libra integer,
leo integer,
gemini integer,
aries integer,
aquarius integer,
cancer integer,
sagittarius integer,
asian integer,
hispanic_latin integer,
black integer,
indian integer,
pacific_islander integer,
native_american integer, 
middle_eastern integer, 
colorado integer, 
new_york integer, 
oregon integer, 
arizona integer,
hawaii integer,
montana integer,
wiscosin integer,
virginia integer,
spain integer,
nevada integer,
illinois integer,
vietnam integer,
ireland integer,
louisiana integer,
michigan integer,
texas integer,
united_kingdom integer,
massachusetts integer,
north_carolina integer,
idaho integer,
mississippi integer,
new_jersey integer,
florida integer,
minnesota integer,
georgia integer,
utah integer,
washington integer,
west_virginia integer,
connecticut integer,
tennesse integer,
rhode_island integer,
district_of_columbia integer,
canada integer, 
missouri integer,
germany integer,
pennsylvania integer,
netherlands integer,
switzerland integer,
mexico integer,
ohio integer,
agnosticism integer,
atheism integer,
catholicism integer,
buddhism integer,
judaism integer,
hinduism integer,
islam integer,
pro_dogs float,
pro_cats float,
spanish integer,
chinese integer,
french integer,
german integer,
single integer,
seeing_someone integer,
available integer,
employed integer,
income_between_25_50 integer,
income_between_50_75 integer,
income_over_75 integer,
drugs_often integer,
drugs_sometimes integer,
drinks_not_at_all integer,
drinks_often integer,
drinks_rarely integer,
drinks_socially integer,
drinks_very_often integer,
orientation_gay integer,
orientation_straight integer,
sex_m integer,
smokes_sometimes integer,
smokes_trying_to_quit integer,
smokes_when_drinking integer,
smokes_yes integer,
body_type_overweight integer,
body_type_regular integer,
education_high_school integer,
education_undergrad_university integer
);
""")

In [5]:
#Se ingresa la tabla entrenamiento a la base de datos
conn.commit()

In [6]:
#Se genera tabla de test 
cur.execute("""
CREATE TABLE test_cupid(
age integer,
height float,
virgo integer,
taurus integer,
scorpio integer,
pisces integer,
libra integer,
leo integer,
gemini integer,
aries integer,
aquarius integer,
cancer integer,
sagittarius integer,
asian integer,
hispanic_latin integer,
black integer,
indian integer,
pacific_islander integer,
native_american integer, 
middle_eastern integer, 
colorado integer, 
new_york integer, 
oregon integer, 
arizona integer,
hawaii integer,
montana integer,
wiscosin integer,
virginia integer,
spain integer,
nevada integer,
illinois integer,
vietnam integer,
ireland integer,
louisiana integer,
michigan integer,
texas integer,
united_kingdom integer,
massachusetts integer,
north_carolina integer,
idaho integer,
mississippi integer,
new_jersey integer,
florida integer,
minnesota integer,
georgia integer,
utah integer,
washington integer,
west_virginia integer,
connecticut integer,
tennesse integer,
rhode_island integer,
district_of_columbia integer,
canada integer, 
missouri integer,
germany integer,
pennsylvania integer,
netherlands integer,
switzerland integer,
mexico integer,
ohio integer,
agnosticism integer,
atheism integer,
catholicism integer,
buddhism integer,
judaism integer,
hinduism integer,
islam integer,
pro_dogs float,
pro_cats float,
spanish integer,
chinese integer,
french integer,
german integer,
single integer,
seeing_someone integer,
available integer,
employed integer,
income_between_25_50 integer,
income_between_50_75 integer,
income_over_75 integer,
drugs_often integer,
drugs_sometimes integer,
drinks_not_at_all integer,
drinks_often integer,
drinks_rarely integer,
drinks_socially integer,
drinks_very_often integer,
orientation_gay integer,
orientation_straight integer,
sex_m integer,
smokes_sometimes integer,
smokes_trying_to_quit integer,
smokes_when_drinking integer,
smokes_yes integer,
body_type_overweight integer,
body_type_regular integer,
education_high_school integer,
education_undergrad_university integer
);
""")

In [7]:
#Se ingresa tabla test a la base de datos
conn.commit()

In [8]:
#Se ingresan los valores de csv a la tabla
with open('./train_cupid.csv', 'r') as file:
    reader = csv.reader(file)
    next(reader)

    for row in reader:
        cur.execute("INSERT INTO train_cupid VALUES (%s, %s, %s, %s,%s, %s, %s, %s, %s, %s, %s, %s, %s, %s,%s, %s, %s, %s, %s, %s,%s, %s, %s, %s,%s, %s, %s, %s, %s, %s,%s, %s, %s, %s,%s, %s, %s, %s, %s, %s,%s, %s, %s, %s,%s, %s, %s, %s, %s, %s,%s, %s, %s, %s,%s, %s, %s, %s, %s, %s,%s, %s, %s, %s,%s, %s, %s, %s, %s, %s,%s, %s, %s, %s,%s, %s, %s, %s, %s, %s,%s, %s, %s, %s,%s, %s, %s, %s, %s, %s,%s, %s, %s, %s,%s, %s, %s, %s)", row)

In [9]:
#Se suben los cambios a la base de datos
conn.commit()

In [10]:
#Se ingresan los valores de csv a tabla test
with open('./test_cupid.csv', 'r') as file:
    reader = csv.reader(file)
    next(reader)

    for row in reader:
        cur.execute("INSERT INTO test_cupid VALUES (%s, %s, %s, %s,%s, %s, %s, %s, %s, %s, %s, %s, %s, %s,%s, %s, %s, %s, %s, %s,%s, %s, %s, %s,%s, %s, %s, %s, %s, %s,%s, %s, %s, %s,%s, %s, %s, %s, %s, %s,%s, %s, %s, %s,%s, %s, %s, %s, %s, %s,%s, %s, %s, %s,%s, %s, %s, %s, %s, %s,%s, %s, %s, %s,%s, %s, %s, %s, %s, %s,%s, %s, %s, %s,%s, %s, %s, %s, %s, %s,%s, %s, %s, %s,%s, %s, %s, %s, %s, %s,%s, %s, %s, %s,%s, %s, %s, %s)", row)

In [11]:
# Se suben los cambios a la base de datos
conn.commit()

In [12]:
# generamos la consulta en el cursor
cur.execute("SELECT * FROM train_cupid;")
columnas = cur.fetchall()
# Posteriormente transformamos la consulta en una lista antes de ingresarla como un pd.DataFrame
training_df = pd.DataFrame(list(columnas))

In [13]:
#Se muestra dataframe desde base de datos
training_df.head()

,0,1,2,3,4,5,6,7,8,9,...,88,89,90,91,92,93,94,95,96,97
0,35,70.0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,1,0,0
1,38,68.0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,1,0,0
2,23,71.0,0,0,0,1,0,0,0,0,...,1,1,0,0,0,0,0,1,0,1
3,29,66.0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,1
4,29,67.0,0,1,0,0,0,0,0,0,...,1,1,0,0,0,0,0,1,0,1

In [14]:
#Se ingresan nombres de las columnas
training_df.columns = ['age','height','virgo','taurus','scorpio','pisces','libra','leo','gemini','aries','aquarius',
                    'cancer','sagittarius','asian','hispanic_latin','black','indian','pacific_islander',
                    'native_american','middle_eastern','colorado','new_york','oregon','arizona','hawaii','montana',
                    'wisconsin','virginia','spain','nevada','illinois','vietnam','ireland','louisiana','michigan','texas',
                    'united kingdom','massachusetts','north_carolina','idaho','mississippi','new jersey','florida',
                    'minnesota','georgia','utah','washington','west_virginia','connecticut','tennessee','rhode_island',
                    'district_of_columbia','canada','missouri','germany','pennsylvania','netherlands','switzerland','mexico',
                    'ohio','agnosticism','atheism','catholicism','buddhism','judaism','hinduism','islam','pro_dogs','pro_cats',
                    'spanish','chinese','french','german','single','seeing_someone','available','employed','income_between_25_50',
                    'income_between_50_75','income_over_75','drugs_often','drugs_sometimes','drinks_not_at_all',
                    'drinks_often','drinks_rarely','drinks_socially','drinks_very_often','orientation_gay','orientation_straight',
                    'sex_m','smokes_sometimes','smokes_trying_to_quit','smokes_when_drinking','smokes_yes','body_type_overweight',
                    'body_type_regular','education_high_school','education_undergrad_university']

In [15]:
#Se muestra dataframe con cambios en las columnas
training_df.head()

,age,height,virgo,taurus,scorpio,pisces,libra,leo,gemini,aries,...,orientation_straight,sex_m,smokes_sometimes,smokes_trying_to_quit,smokes_when_drinking,smokes_yes,body_type_overweight,body_type_regular,education_high_school,education_undergrad_university
0,35,70.0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,1,0,0
1,38,68.0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,1,0,0
2,23,71.0,0,0,0,1,0,0,0,0,...,1,1,0,0,0,0,0,1,0,1
3,29,66.0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,1
4,29,67.0,0,1,0,0,0,0,0,0,...,1,1,0,0,0,0,0,1,0,1

Parte 2: Entrenamiento de modelos (3.5 Puntos)
● Ingestar la tabla de training mediante psycopg2 para el posterior entrenamiento del
modelo.
● Entrenar los siguientes modelos (sin necesidad de ajustar por hiper parámetros):
○ GradientBoostingClassifier, AdaBoostClassifer,
RandomForestClassifier, SVC, DecisionTreeClassifier,
LogisticRegression, BernoulliNB.
○ Existen tres vectores objetivos a evaluar: single, seeing someone y available.
● Serializar el objeto y preservarlo por cada combinación de modelo entrenado y vector
objetivo

In [16]:
#Se importan librerias para generar los modelos
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import BernoulliNB

In [17]:
import pickle #permite generar archivos .pkl

# Generacion de modelos serializables

In [18]:
#Se generan la matriz de entrenamiento y vector objetivo 
copia = training_df.copy()
X_train_single = copia.drop(['single'],axis =1)
y_train_single = training_df['single']

In [19]:
#Se genera funcion para entrenar los modelos y serializarlos
def apply_model(model, df, y, name_vector):
    if model == LogisticRegression:
        tmp_model = LogisticRegression(solver= 'liblinear').fit(df,y)
    else:
        tmp_model = model().fit(df, y)
    pickle.dump(tmp_model, open(model.__name__ + name_vector + ".pkl", 'wb'))

In [20]:
#Se genera lista con modelos a aplicar
lista_models = [GradientBoostingClassifier, AdaBoostClassifier, RandomForestClassifier, SVC, DecisionTreeClassifier, LogisticRegression, BernoulliNB]

In [21]:
#Se genera modelos para single
for i in lista_models:
    apply_model(i, X_train_single, y_train_single, 'single')

In [22]:
#Se generan la matriz de entrenamiento y vector objetivo para seeing someone
copia = training_df.copy()
X_train_someone = copia.drop(['seeing_someone'],axis =1)
y_train_someone = training_df['seeing_someone']

In [23]:
#Se generan modelos para seeing_someone
for i in lista_models:
    apply_model(i, X_train_someone, y_train_someone, 'someone')

In [24]:
#Se generan la matriz de entrenamiento y vector objetivo para seeing someone
copia = training_df.copy()
X_train_available = copia.drop(['available'],axis =1)
y_train_available = training_df['available']

In [25]:
#Se generan y serializan modelos para available
for i in lista_models:
    apply_model(i, X_train_available, y_train_available, 'available')

Parte 3: Exportación de predicciones (3.5 Puntos)
● Ingestar la tabla de testing mediante psycopg2 para la posterior predicción del
modelo.
● En base a los objetos serializados, predecir y evaluar cuatro queries específicas:
○ Query 1: 'atheism', 'asian', 'employed', 'pro_dogs', 'chinese'.
○ Query 2: 'income_over_75', 'french', 'german','orientation_straight', 'new york'.
○ Query 3: 'education_undergrad_university', 'body_type_regular', 'pro_dogs',
'employed'.
○ Query 4: 'taurus', 'indian', 'washington', 'income_between_50_75', 'hinduism'.
● Cada una de estas queries específicas debe ser registrada en la base de datos.
● La base de datos creada debe contener las tablas:
○ 2 que representan a training y testing.
○ 84 que representan a cada una de las combinaciones entre modelo, vector y
query específica.
● A modo de referencia, la base de datos creada debe contener 86 tablas en total.

In [26]:
# generamos la consulta en el cursor
cur.execute("SELECT * FROM test_cupid;")
columnas = cur.fetchall()
# Posteriormente transformamos la consulta en una lista antes de ingresarla como un pd.DataFrame
test_df = pd.DataFrame(list(columnas))

In [27]:
#Se ingresan nombres de las columnas
test_df.columns = ['age','height','virgo','taurus','scorpio','pisces','libra','leo','gemini','aries','aquarius',
                    'cancer','sagittarius','asian','hispanic_latin','black','indian','pacific_islander',
                    'native_american','middle_eastern','colorado','new_york','oregon','arizona','hawaii','montana',
                    'wisconsin','virginia','spain','nevada','illinois','vietnam','ireland','louisiana','michigan','texas',
                    'united kingdom','massachusetts','north_carolina','idaho','mississippi','new jersey','florida',
                    'minnesota','georgia','utah','washington','west_virginia','connecticut','tennessee','rhode_island',
                    'district_of_columbia','canada','missouri','germany','pennsylvania','netherlands','switzerland','mexico',
                    'ohio','agnosticism','atheism','catholicism','buddhism','judaism','hinduism','islam','pro_dogs','pro_cats',
                    'spanish','chinese','french','german','single','seeing_someone','available','employed','income_between_25_50',
                    'income_between_50_75','income_over_75','drugs_often','drugs_sometimes','drinks_not_at_all',
                    'drinks_often','drinks_rarely','drinks_socially','drinks_very_often','orientation_gay','orientation_straight',
                    'sex_m','smokes_sometimes','smokes_trying_to_quit','smokes_when_drinking','smokes_yes','body_type_overweight',
                    'body_type_regular','education_high_school','education_undergrad_university']

In [28]:
#Se cargan archivos serializados para vector objetivo single
gb_single = pickle.load(open("GradientBoostingClassifiersingle.pkl","rb"))
ada_single = pickle.load(open("AdaBoostClassifiersingle.pkl","rb"))
rd_single = pickle.load(open("RandomForestClassifiersingle.pkl","rb"))
svc_single = pickle.load(open("SVCsingle.pkl","rb"))
dtc_single = pickle.load(open("DecisionTreeClassifiersingle.pkl","rb"))
lg_single = pickle.load(open("LogisticRegressionsingle.pkl","rb"))
nb_single = pickle.load(open("BernoulliNBsingle.pkl","rb"))

In [29]:
#Se cargan archivos serializados para vector objetivo someone
gb_someone = pickle.load(open("GradientBoostingClassifiersomeone.pkl","rb"))
ada_someone = pickle.load(open("AdaBoostClassifiersomeone.pkl","rb"))
rd_someone = pickle.load(open("RandomForestClassifiersomeone.pkl","rb"))
svc_someone = pickle.load(open("SVCsomeone.pkl","rb"))
dtc_someone = pickle.load(open("DecisionTreeClassifiersomeone.pkl","rb"))
lg_someone = pickle.load(open("LogisticRegressionsomeone.pkl","rb"))
nb_someone = pickle.load(open("BernoulliNBsomeone.pkl","rb"))

In [30]:
#Se cargan archivos serializados para vector objetivo available
gb_available = pickle.load(open("GradientBoostingClassifieravailable.pkl","rb"))
ada_available = pickle.load(open("AdaBoostClassifieravailable.pkl","rb"))
rd_available = pickle.load(open("RandomForestClassifieravailable.pkl","rb"))
svc_available = pickle.load(open("SVCavailable.pkl","rb"))
dtc_available = pickle.load(open("DecisionTreeClassifieravailable.pkl","rb"))
lg_available = pickle.load(open("LogisticRegressionavailable.pkl","rb"))
nb_available = pickle.load(open("BernoulliNBavailable.pkl","rb"))

# Queries con single

In [31]:
#Se generan matriz de test para generar las predicciones en single
copia = test_df.copy()
X_test_single = copia.drop(['single'],axis =1)
y_test_single = test_df['single']

In [32]:
# Se genera funcion que genera las queries solicitadas
def apply_prediction(model, X_test, query):
    tmp_y_hat = model.predict(X_test)
    y_hat_test = pd.Series(tmp_y_hat).rename('prediction')
    tmp_df = pd.concat([X_test, y_hat_test], axis=1).dropna()
    if query == 'aaepc':
        tmp_df = tmp_df.groupby(['atheism', 'asian', 'employed', 'pro_dogs', 'chinese'])['prediction'].mean()
    if query == 'ifgon':
        tmp_df = tmp_df.groupby(['income_over_75', 'french', 'german','orientation_straight', 'new_york'])['prediction'].mean() 
    if query == 'ebpe':
        tmp_df = tmp_df.groupby(['education_undergrad_university', 'body_type_regular', 'pro_dogs', 'employed'])['prediction'].mean() 
    if query == 'tiwih':
        tmp_df = tmp_df.groupby(['taurus', 'indian', 'washington', 'income_between_50_75', 'hinduism'])['prediction'].mean()   
    test = pd.DataFrame(tmp_df)
    check=test.reset_index(inplace=True) 
    return test

In [33]:
#Se generan las queries solicitadas
gb_single_aaepc = apply_prediction(gb_single, X_test_single, 'aaepc')
gb_single_ifgon = apply_prediction(gb_single, X_test_single, 'ifgon')
gb_single_ebpe = apply_prediction(gb_single, X_test_single, 'ebpe')
gb_single_tiwih = apply_prediction(gb_single, X_test_single, 'tiwih')

In [34]:
#Se generan las queries solicitadas
ada_single_aaepc = apply_prediction(ada_single, X_test_single, 'aaepc')
ada_single_ifgon = apply_prediction(ada_single, X_test_single, 'ifgon')
ada_single_ebpe = apply_prediction(ada_single, X_test_single, 'ebpe')
ada_single_tiwih = apply_prediction(ada_single, X_test_single, 'tiwih')

In [35]:
#Se generan las queries solicitadas
rd_single_aaepc = apply_prediction(rd_single, X_test_single, 'aaepc')
rd_single_ifgon = apply_prediction(rd_single, X_test_single, 'ifgon')
rd_single_ebpe = apply_prediction(rd_single, X_test_single, 'ebpe')
rd_single_tiwih = apply_prediction(rd_single, X_test_single, 'tiwih')

In [36]:
#Se generan las queries solicitadas
svc_single_aaepc = apply_prediction(rd_single, X_test_single, 'aaepc')
svc_single_ifgon = apply_prediction(rd_single, X_test_single, 'ifgon')
svc_single_ebpe = apply_prediction(rd_single, X_test_single, 'ebpe')
svc_single_tiwih = apply_prediction(rd_single, X_test_single, 'tiwih')

In [37]:
#Se generan las queries solicitadas
dtc_single_aaepc = apply_prediction(dtc_single, X_test_single, 'aaepc')
dtc_single_ifgon = apply_prediction(dtc_single, X_test_single, 'ifgon')
dtc_single_ebpe = apply_prediction(dtc_single, X_test_single, 'ebpe')
dtc_single_tiwih = apply_prediction(dtc_single, X_test_single, 'tiwih')

In [38]:
#Se generan las queries solicitadas
lg_single_aaepc = apply_prediction(lg_single, X_test_single, 'aaepc')
lg_single_ifgon = apply_prediction(lg_single, X_test_single, 'ifgon')
lg_single_ebpe = apply_prediction(lg_single, X_test_single, 'ebpe')
lg_single_tiwih = apply_prediction(lg_single, X_test_single, 'tiwih')

In [39]:
#Se generan las queries solicitadas
nb_single_aaepc = apply_prediction(nb_single, X_test_single, 'aaepc')
nb_single_ifgon = apply_prediction(nb_single, X_test_single, 'ifgon')
nb_single_ebpe = apply_prediction(nb_single, X_test_single, 'ebpe')
nb_single_tiwih = apply_prediction(nb_single, X_test_single, 'tiwih')

# Queries con seeing someone

In [40]:
#Se generan matriz de test para generar las predicciones en seeing someone
copia = test_df.copy()
X_test_someone = copia.drop(['seeing_someone'],axis =1)
y_test_someone = test_df['seeing_someone']

In [41]:
#Se generan las queries solicitadas
gb_someone_aaepc = apply_prediction(gb_someone, X_test_someone, 'aaepc')
gb_someone_ifgon = apply_prediction(gb_someone, X_test_someone, 'ifgon')
gb_someone_ebpe = apply_prediction(gb_someone, X_test_someone, 'ebpe')
gb_someone_tiwih = apply_prediction(gb_someone, X_test_someone, 'tiwih')

In [42]:
#Se generan las queries solicitadas
ada_someone_aaepc = apply_prediction(ada_someone, X_test_someone, 'aaepc')
ada_someone_ifgon = apply_prediction(ada_someone, X_test_someone, 'ifgon')
ada_someone_ebpe = apply_prediction(ada_someone, X_test_someone, 'ebpe')
ada_someone_tiwih = apply_prediction(ada_someone, X_test_someone, 'tiwih')

In [43]:
#Se generan las queries solicitadas
rd_someone_aaepc = apply_prediction(rd_someone, X_test_someone, 'aaepc')
rd_someone_ifgon = apply_prediction(rd_someone, X_test_someone, 'ifgon')
rd_someone_ebpe = apply_prediction(rd_someone, X_test_someone, 'ebpe')
rd_someone_tiwih = apply_prediction(rd_someone, X_test_someone, 'tiwih')

In [44]:
#Se generan las queries solicitadas
svc_someone_aaepc = apply_prediction(svc_someone, X_test_someone, 'aaepc')
svc_someone_ifgon = apply_prediction(svc_someone, X_test_someone, 'ifgon')
svc_someone_ebpe = apply_prediction(svc_someone, X_test_someone, 'ebpe')
svc_someone_tiwih = apply_prediction(svc_someone, X_test_someone, 'tiwih')

In [45]:
#Se generan las queries solicitadas
dtc_someone_aaepc = apply_prediction(dtc_someone, X_test_someone, 'aaepc')
dtc_someone_ifgon = apply_prediction(dtc_someone, X_test_someone, 'ifgon')
dtc_someone_ebpe = apply_prediction(dtc_someone, X_test_someone, 'ebpe')
dtc_someone_tiwih = apply_prediction(dtc_someone, X_test_someone, 'tiwih')

In [46]:
#Se generan las queries solicitadas
lg_someone_aaepc = apply_prediction(lg_someone, X_test_someone, 'aaepc')
lg_someone_ifgon = apply_prediction(lg_someone, X_test_someone, 'ifgon')
lg_someone_ebpe = apply_prediction(lg_someone, X_test_someone, 'ebpe')
lg_someone_tiwih = apply_prediction(lg_someone, X_test_someone, 'tiwih')

In [47]:
#Se generan las queries solicitadas
nb_someone_aaepc = apply_prediction(nb_someone, X_test_someone, 'aaepc')
nb_someone_ifgon = apply_prediction(nb_someone, X_test_someone, 'ifgon')
nb_someone_ebpe = apply_prediction(nb_someone, X_test_someone, 'ebpe')
nb_someone_tiwih = apply_prediction(nb_someone, X_test_someone, 'tiwih')

# Queries con available

In [48]:
#Se generan matriz de test para generar las predicciones en available
copia = test_df.copy()
X_test_available = copia.drop(['available'],axis =1)
y_test_available = test_df['available']

In [49]:
#Se generan las queries solicitadas
gb_available_aaepc = apply_prediction(gb_available, X_test_available, 'aaepc')
gb_available_ifgon = apply_prediction(gb_available, X_test_available, 'ifgon')
gb_available_ebpe = apply_prediction(gb_available, X_test_available, 'ebpe')
gb_available_tiwih = apply_prediction(gb_available, X_test_available, 'tiwih')

In [50]:
#Se generan las queries solicitadas
ada_available_aaepc = apply_prediction(ada_available, X_test_available, 'aaepc')
ada_available_ifgon = apply_prediction(ada_available, X_test_available, 'ifgon')
ada_available_ebpe = apply_prediction(ada_available, X_test_available, 'ebpe')
ada_available_tiwih = apply_prediction(ada_available, X_test_available, 'tiwih')

In [51]:
#Se generan las queries solicitadas
rd_available_aaepc = apply_prediction(rd_available, X_test_available, 'aaepc')
rd_available_ifgon = apply_prediction(rd_available, X_test_available, 'ifgon')
rd_available_ebpe = apply_prediction(rd_available, X_test_available, 'ebpe')
rd_available_tiwih = apply_prediction(rd_available, X_test_available, 'tiwih')

In [52]:
#Se generan las queries solicitadas
svc_available_aaepc = apply_prediction(svc_available, X_test_available, 'aaepc')
svc_available_ifgon = apply_prediction(svc_available, X_test_available, 'ifgon')
svc_available_ebpe = apply_prediction(svc_available, X_test_available, 'ebpe')
svc_available_tiwih = apply_prediction(svc_available, X_test_available, 'tiwih')

In [53]:
#Se generan las queries solicitadas
dtc_available_aaepc = apply_prediction(dtc_available, X_test_available, 'aaepc')
dtc_available_ifgon = apply_prediction(dtc_available, X_test_available, 'ifgon')
dtc_available_ebpe = apply_prediction(dtc_available, X_test_available, 'ebpe')
dtc_available_tiwih = apply_prediction(dtc_available, X_test_available, 'tiwih')

In [54]:
#Se generan las queries solicitadas
lg_available_aaepc = apply_prediction(lg_available, X_test_available, 'aaepc')
lg_available_ifgon = apply_prediction(lg_available, X_test_available, 'ifgon')
lg_available_ebpe = apply_prediction(lg_available, X_test_available, 'ebpe')
lg_available_tiwih = apply_prediction(lg_available, X_test_available, 'tiwih')

In [55]:
#Se generan las queries solicitadas
nb_available_aaepc = apply_prediction(nb_available, X_test_available, 'aaepc')
nb_available_ifgon = apply_prediction(nb_available, X_test_available, 'ifgon')
nb_available_ebpe = apply_prediction(nb_available, X_test_available, 'ebpe')
nb_available_tiwih = apply_prediction(nb_available, X_test_available, 'tiwih')

# Subida de las tablas a Postgresql

In [59]:
#Se genera la coneccion con el motor postgres
engine = create_engine('postgresql://postgres:ladcobra@localhost/cristobal_novoa_alejandro_chau')

# Partiendo con single

In [61]:
#Se suben las tablas a la base de datos
gb_single_aaepc.to_sql("gb_single_aaepc", con=engine, if_exists="replace")
gb_single_ifgon.to_sql("gb_single_ifgon", con=engine, if_exists="replace")
gb_single_ebpe.to_sql("gb_single_ebpe", con=engine,if_exists="replace")
gb_single_tiwih.to_sql("gb_single_tiwih", con=engine,if_exists="replace")

In [62]:
ada_single_aaepc.to_sql("ada_single_aaepc", con=engine, if_exists="replace")
ada_single_ifgon.to_sql("ada_single_ifgon", con=engine, if_exists="replace")
ada_single_ebpe.to_sql("ada_single_ebpe", con=engine,if_exists="replace")
ada_single_tiwih.to_sql("ada_single_tiwih", con=engine,if_exists="replace")

In [63]:
rd_single_aaepc.to_sql("rd_single_aaepc", con=engine, if_exists="replace")
rd_single_ifgon.to_sql("rd_single_ifgon", con=engine, if_exists="replace")
rd_single_ebpe.to_sql("rd_single_ebpe", con=engine,if_exists="replace")
rd_single_tiwih.to_sql("rd_single_tiwih", con=engine,if_exists="replace")

In [64]:
svc_single_aaepc.to_sql("svc_single_aaepc", con=engine, if_exists="replace")
svc_single_ifgon.to_sql("svc_single_ifgon", con=engine, if_exists="replace")
svc_single_ebpe.to_sql("svc_single_ebpe", con=engine,if_exists="replace")
svc_single_tiwih.to_sql("svc_single_tiwih", con=engine,if_exists="replace")

In [65]:
dtc_single_aaepc.to_sql("dtc_single_aaepc", con=engine, if_exists="replace")
dtc_single_ifgon.to_sql("dtc_single_ifgon", con=engine, if_exists="replace")
dtc_single_ebpe.to_sql("dtc_single_ebpe", con=engine,if_exists="replace")
dtc_single_tiwih.to_sql("dtc_single_tiwih", con=engine,if_exists="replace")

In [66]:
lg_single_aaepc.to_sql("lg_single_aaepc", con=engine, if_exists="replace")
lg_single_ifgon.to_sql("lg_single_ifgon", con=engine, if_exists="replace")
lg_single_ebpe.to_sql("lg_single_ebpe", con=engine,if_exists="replace")
lg_single_tiwih.to_sql("lg_single_tiwih", con=engine,if_exists="replace")

In [67]:
nb_single_aaepc.to_sql("nb_single_aaepc", con=engine, if_exists="replace")
nb_single_ifgon.to_sql("nb_single_ifgon", con=engine, if_exists="replace")
nb_single_ebpe.to_sql("nb_single_ebpe", con=engine,if_exists="replace")
nb_single_tiwih.to_sql("nb_single_tiwih", con=engine,if_exists="replace")

# Con seeing_someone

In [68]:
gb_someone_aaepc.to_sql("gb_someone_aaepc", con=engine, if_exists="replace")
gb_someone_ifgon.to_sql("gb_someone_ifgon", con=engine, if_exists="replace")
gb_someone_ebpe.to_sql("gb_someone_ebpe", con=engine,if_exists="replace")
gb_someone_tiwih.to_sql("gb_someone_tiwih", con=engine,if_exists="replace")

In [69]:
ada_someone_aaepc.to_sql("ada_someone_aaepc", con=engine, if_exists="replace")
ada_someone_ifgon.to_sql("ada_someone_ifgon", con=engine, if_exists="replace")
ada_someone_ebpe.to_sql("ada_someone_ebpe", con=engine,if_exists="replace")
ada_someone_tiwih.to_sql("ada_someone_tiwih", con=engine,if_exists="replace")

In [70]:
rd_someone_aaepc.to_sql("rd_someone_aaepc", con=engine, if_exists="replace")
rd_someone_ifgon.to_sql("rd_someone_ifgon", con=engine, if_exists="replace")
rd_someone_ebpe.to_sql("rd_someone_ebpe", con=engine,if_exists="replace")
rd_someone_tiwih.to_sql("rd_someone_tiwih", con=engine,if_exists="replace")

In [71]:
svc_someone_aaepc.to_sql("svc_someone_aaepc", con=engine, if_exists="replace")
svc_someone_ifgon.to_sql("svc_someone_ifgon", con=engine, if_exists="replace")
svc_someone_ebpe.to_sql("svc_someone_ebpe", con=engine,if_exists="replace")
svc_someone_tiwih.to_sql("svc_someone_tiwih", con=engine,if_exists="replace")

In [72]:
dtc_someone_aaepc.to_sql("dtc_someone_aaepc", con=engine, if_exists="replace")
dtc_someone_ifgon.to_sql("dtc_someone_ifgon", con=engine, if_exists="replace")
dtc_someone_ebpe.to_sql("dtc_someone_ebpe", con=engine,if_exists="replace")
dtc_someone_tiwih.to_sql("dtc_someone_tiwih", con=engine,if_exists="replace")

In [73]:
lg_someone_aaepc.to_sql("lg_someone_aaepc", con=engine, if_exists="replace")
lg_someone_ifgon.to_sql("lg_someone_ifgon", con=engine, if_exists="replace")
lg_someone_ebpe.to_sql("lg_someone_ebpe", con=engine,if_exists="replace")
lg_someone_tiwih.to_sql("lg_someone_tiwih", con=engine,if_exists="replace")

In [74]:
nb_someone_aaepc.to_sql("nb_someone_aaepc", con=engine, if_exists="replace")
nb_someone_ifgon.to_sql("nb_someone_ifgon", con=engine, if_exists="replace")
nb_someone_ebpe.to_sql("nb_someone_ebpe", con=engine,if_exists="replace")
nb_someone_tiwih.to_sql("nb_someone_tiwih", con=engine,if_exists="replace")

# Con available

In [75]:
gb_available_aaepc.to_sql("gb_available_aaepc", con=engine, if_exists="replace")
gb_available_ifgon.to_sql("gb_available_ifgon", con=engine, if_exists="replace")
gb_available_ebpe.to_sql("gb_available_ebpe", con=engine,if_exists="replace")
gb_available_tiwih.to_sql("gb_available_tiwih", con=engine,if_exists="replace")

In [76]:
ada_available_aaepc.to_sql("ada_available_aaepc", con=engine, if_exists="replace")
ada_available_ifgon.to_sql("ada_available_ifgon", con=engine, if_exists="replace")
ada_available_ebpe.to_sql("ada_available_ebpe", con=engine,if_exists="replace")
ada_available_tiwih.to_sql("ada_available_tiwih", con=engine,if_exists="replace")

In [77]:
rd_available_aaepc.to_sql("rd_available_aaepc", con=engine, if_exists="replace")
rd_available_ifgon.to_sql("rd_available_ifgon", con=engine, if_exists="replace")
rd_available_ebpe.to_sql("rd_available_ebpe", con=engine,if_exists="replace")
rd_available_tiwih.to_sql("rd_available_tiwih", con=engine,if_exists="replace")

In [78]:
svc_available_aaepc.to_sql("svc_available_aaepc", con=engine, if_exists="replace")
svc_available_ifgon.to_sql("svc_available_ifgon", con=engine, if_exists="replace")
svc_available_ebpe.to_sql("svc_available_ebpe", con=engine,if_exists="replace")
svc_available_tiwih.to_sql("svc_available_tiwih", con=engine,if_exists="replace")

In [79]:
dtc_available_aaepc.to_sql("dtc_available_aaepc", con=engine, if_exists="replace")
dtc_available_ifgon.to_sql("dtc_available_ifgon", con=engine, if_exists="replace")
dtc_available_ebpe.to_sql("dtc_available_ebpe", con=engine,if_exists="replace")
dtc_available_tiwih.to_sql("dtc_available_tiwih", con=engine,if_exists="replace")

In [80]:
lg_available_aaepc.to_sql("lg_available_aaepc", con=engine, if_exists="replace")
lg_available_ifgon.to_sql("lg_available_ifgon", con=engine, if_exists="replace")
lg_available_ebpe.to_sql("lg_available_ebpe", con=engine,if_exists="replace")
lg_available_tiwih.to_sql("lg_available_tiwih", con=engine,if_exists="replace")

In [81]:
nb_available_aaepc.to_sql("nb_available_aaepc", con=engine, if_exists="replace")
nb_available_ifgon.to_sql("nb_available_ifgon", con=engine, if_exists="replace")
nb_available_ebpe.to_sql("nb_available_ebpe", con=engine,if_exists="replace")
nb_available_tiwih.to_sql("nb_available_tiwih", con=engine,if_exists="replace")